/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.8/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.gradle/8.8/fileChanges/last-build.bin
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.8/checksums/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_12_24,_17_31_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_12_24,_17_31_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_12_24__17_31__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_12_24__17_31__Changes_1.xml
/.idea/vcs.xml
/.idea/workspace.xml
